rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function for basic security check
    function isDocOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Allow public read and write for app prototype and online sync
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
